{% block footer %}
{% if request.user_agent.is_mobile %}
<b>vaizlabs&trade; | 2014-17 | <a href='https://www.openshift.com'>OpenShift</a> | <a href='https://www.djangoproject.com/'>Django</a></b>
{% else %}
<b>vaizlabs&trade; | 2014-17 | All Rights Reserved | Powered by <a href='https://www.heroku.com'>Heroku</a> & <a href='https://www.djangoproject.com/'>Django</a> | <a href='http://www.github.com/vaizguy/vaizlabs-heroku/commit/{{ GIT_REV_FULL }}'>Git revision: {{ GIT_REV }}</a>
    {% if IP_ADDRESS != None %}| {{ IP_ADDRESS }} {% endif %}</b><b>|</b> <a href="https://validator.w3.org/nu/?acceptlanguage=&doc=https%3A%2F%2Fvaizlabs.herokuapp.com%2Fhome">
<img src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" width="14" height="14" alt="HTML5 Powered" title="HTML5 Powered">
</a>
{% endif %}
{% endblock %}
