<!DOCTYPE html>
<!--HTML 5 boilerplate-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% load staticfiles %}
        <title>{{ HOME_TITLE }}</title>
        <meta name="description" content="vaizlabs project host.">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{% static 'css/normalize.css'  %}">
        <link rel="stylesheet" href="{% static 'css/main.css'       %}">
        <link rel="stylesheet" href="{% static 'css/typewriter.css' %}">
        <!-- Home CSS -->
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <!-- Footer CSS -->
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <!-- If JS blocked, got this great idea from Yan's blog https://zyan.scripts.mit.edu/blog/ -->
        <noscript>
            <div id="jscript_blckd">
                 <p id="jscript_blckd_banner">Hello friend! Your browser blocked all Javascript, Good Job! All should be fine, however if anything seems broke do yell!</p>
                 <br>
            </div>
            </noscript>

        <!-- site or application content here -->

        <header>
        <!--<h1>{{ HOME_HEADER }}</h1> -->
        <!-- Load Django Request User Agents -->
        {% if request.user_agent.is_mobile %}
            <!-- Reduced logo size if mobile site -->
            <img src="{% static 'img/title_banner.png' %}" width="400" height="54" alt='Welcome to Vaizlabs inc.'>
        {% else %}
            <img src="{% static 'img/title_banner.png' %}" width="1333" height="180" alt='Welcome to Vaizlabs inc.'>
        {% endif %}
        </header>

        <nav>
        <!-- Navigation -->
            <ul id="list-nav">
                <li><a href='/home'>{{ SECTION_HOME }}</a></li>
                <li><a href='/blog'>{{ SECTION_BLOG }}</a></li>
                <li><a href='/contact'>{{ SECTION_CONTACT }}</a></li>
            </ul>
        </nav>

        <br>
        <br>
        {% if SECTION_HOME_ACTIVE %}
            <section id="main">
            <!-- Home content area -->
            {% include "main_content.html" %}
            </section>
        {% elif SECTION_CONTACT_ACTIVE %}
            <section id="contact_us">
            <!-- Contact content area-->
            {% include "contact.html" %}
            </section>
        {% elif SECTION_BLOG_ACTIVE %}
            <section id="blog">
            <!-- Blog content area-->
            {% include "blog.html" %}
            </section>
        {% endif %}

        <aside>
        <!-- Sidebar -->
        </aside>
      
        <footer>
        <!-- Footer -->
        {% include 'footer.html' %}
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.8.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
