<p class="css-typing">vaizlabs R&D - Work in Progress &#x26A0;</p>
<h2 class="manifesto-header">Manifesto</h2>
<ul class="manifesto-bullets">
<li> <b>FOR</b> technology, <b><u>F</u>ree</b> <b><u>O</u>pen</b> <b><u>R</u>eusable!</b> </li> 
<li> Openness seems to move past exclusivity at a faster pace! </li>
<li> Teamwork just isn't the same as Collaboration! </li>
<li> The youth, the greatest resource, can teach us a thing or two! </li>
<li> Hold on, where is this corporate threadmill taking us? </li>
<li> Money can solve only those problems that money creates! </li>
<li> In our rush to change the world, the world always changes us! </li>
<li> Let it be known, we should all start speaking to computers in Python! </li>
<li> Technology - eventual imprisonment or liberation? </li>
</ul>

